$white: #fff;
$light-grey: #f8f8f8;
$tomato: #d52b1e;
$vermilion: #ed1c24;
$rusty-red: #af1a0f;
$orange: #f7981c;
$light-blue: #7f8fa4;
$green: #36af47;
$blue: #1b92ed;
$yellow-orange: #ffbb00;
$black: #000;
$grey: #354052;
$dark-grey: #273244;
$pale-grey: #516173;
$steel: #8d8d9e;
$dark-grey2: #222c3c;
$cloudy-blue: #313d4f;
$very-light-pink: #ffeceb;
$pale-salmon: #ffaba8;
$light-peach: #ffcdcb;
$pale: #dfe1e5;
$cool-grey: #b2b2c2;
$pale-blue: #e6f2fe;
$blue-grey: #273142;
$light-brown: #353c48;

//Dark Theme
$main-background-color: #1b2431;
$secondary-background-color: $dark-grey;
$main-font-color: $white;
$sub-titles-color: $light-blue;
$input-background-color: $cloudy-blue;
$input-border-color: $dark-grey;
$input-hover-color: $dark-grey2;
$focus-color: $blue;
$error-color: $vermilion;
$success-color: $green;
$info-color: $blue;
$warning-color: $orange;
$disabled-font-color: $grey;
$label-background-color: $blue-grey;
$icon-color: #a8aab7;
$button-disabled-background-color: $dark-grey2;
$button--disabled-border-color: $cloudy-blue;
$border-color: $cloudy-blue;
$scroll-slider-color: #4b596f;
$dark-mode-color: $light-brown;
