$icomoon-font-family: "icomoon";
// $icomoon-font-path: "../../fonts" !default;

$icon-done: "\e902";
$icon-cross: "\e901";
$icon-calendar: "\e903";
$icon-user: "\e905";
$icon-search: "\e909";
$icon-keyboard-arrow-down: "\e900";
$icon-minus: "\e910";
$icon-plus: "\e907";
$icon-information-solid: "\e908";
$icon-x-altx-alt: "\e913";
$icon-checkmark: "\e912";
$icon-spinner3: "\e97c";
$icon-trash-2: "\e904";
$icon-envelop: "\e945";
$icon-cog: "\e906";
$icon-location2: "\e948";
$icon-logout: "\e90d";
$icon-star-full: "\e90f";
$icon-triangle-left: "\e914";
$icon-triangle-right: "\e915";
$icon-arrow_drop_up: "\e90b";
$icon-arrow_drop_down: "\e90c";
$icon-download: "\e90a";
$icon-pause: "\ea16";
$icon-share: "\ea7d";
$icon-spinner11: "\e984";
$icon-activity: "\e911";

$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-vimeo: "\eaa0";
$icon-linkedin2: "\eaca";
$icon-globe: "\e90e";
