.calendar {
  min-height: 350px;
  @media(min-width: $breakpoint-md) {
    padding-right: 50px;
  }
}
.picker-toggler {
  position: relative;
  display: flex;
  flex-direction: column;
}
.picker-trigger {
  position: relative;
  display: flex;
  color: $main-font-color;
  width: 100%;
  font-size: 14px;
  padding: 4px 35px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: $input-border-color;
  white-space: nowrap;
  transition: all $transition;
  cursor: pointer;
  &:hover {
    background-color: $input-hover-color;
  }
}
.picker-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 300px;
  margin-top: 4px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px $border-color;
  background-color: $label-background-color;
  transition: all $transition;
  opacity: 0;
  .is-open & {
    opacity: 1;
  }
}
.picker-header {
  position: relative;
  padding: 15px;
}
.picker-nav {
  display: flex;
  justify-content: space-between;
}
.picker-select-year {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-right: 25px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  flex-basis: 60%;
  transition: all $transition;
  &:hover {
    color: $sub-titles-color;
  }
}
.picker-btn {
  position: relative;
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  transition: all $transition;
  &:hover {
    border-radius: 50%;
    background-color: $input-hover-color;
    cursor: pointer;
  }
}
.picker-body {
  padding: 0 15px 15px;
  transition: all $transition;
}
.picker-weekdays {
  border-top: solid 1px $border-color;
  padding: 20px 15px;
}
.picker-row {
  display: flex;
  justify-content: space-between;
}
.picker-cell {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.5);
  flex-basis: 9%;
  line-height: 2.5em;
  text-align: center;
}
.is-active-day {
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #2ea1f8;
  background: #1e5799;
  transition: background $transition;
}
.is-current-month {
  color: $main-font-color;
  cursor: pointer;
  &:hover,
  &:focus {
    @extend .is-active-day;
  }
}
