.form-group {
  margin-bottom: 12px;
  position: relative;
  width: 245px;
  max-width: 245px;
}
.field {
  display: flex;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.form-input {
  color: $main-font-color;
  width: 100%;
  font-size: 14px;
  padding: 10px 30px 10px 15px;
  background-color: $input-border-color;
  border: solid 1px $input-background-color;
  font-weight: 600;
  .has-icon & {
    padding-left: 35px;
  }
  .has-label & {
    margin-bottom: 20px;
  }
  .has-validation & {
    margin-bottom: 30px;
  }
  .search-on-drop & {
    background-color: $input-hover-color;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: $input-hover-color;
    transition: all $transition;
  }
  &:focus {
    font-weight: 600;
    color: $main-font-color;
    border: solid 1px $focus-color;
    .focused &,
    .invalid & {
      border: solid 1px $input-background-color;
    }
    &::placeholder {
      color: $main-font-color;
    }
  }
  &:invalid:not(.disabled):not(:disabled) {
    color: $error-color;
    border: solid 1px $error-color;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.hover {
  @extend .form-input:hover;
}
.error {
  @extend .form-input:invalid;
}
.success {
  border: solid 1px $success-color;
  position: relative;
}
.placeholder:not(.disabled):not(:disabled) {
  color: $sub-titles-color;
}
.value {
  font-weight: 600;
  border: solid 1px $input-border-color;
  color: $main-font-color;
  &::placeholder {
    color: $main-font-color;
  }
}
.disabled {
  border: solid 1px #313d4f;
  background-color: $dark-grey2;
  color: $sub-titles-color;
  &::placeholder {
    color: $disabled-font-color;
  }
}
.icon-error {
  cursor: pointer;
  &:after {
    color: $error-color;
  }
}
.icon-success {
  cursor: pointer;
  &:after {
    color: $success-color;
  }
}

//labels
.form-label {
  display: block;
  padding: 0 10px;
  background-color: $label-background-color;
  text-align: center;
}
.icon {
  display: block;
  width: 16px;
  height: 16px;
}
.user-name {
  border: solid 1px $input-background-color;
  border-right: 0;
}
.unit {
  padding: 0 20px;
  line-height: 40px;
  width: 40%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: solid 1px $input-background-color;
  border-left: none;
  &:hover {
    background-color: $input-hover-color;
  }
}
.label-value {
  line-height: 40px;
}
.label-right {
  border: none;
  border-left: solid 1px $focus-color;
  width: 40px;
  .invalid & {
    border: solid 1px $input-background-color;
  }
}
.button-group {
  width: 35px;
  border-left: solid 1px $input-background-color;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.control-symbol {
  background: none;
  border: none;
  width: 100%;
  color: $main-font-color;
  position: relative;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $input-hover-color;
  }
}
.icon-plus,
.icon-minus {
  display: block;
  width: 16px;
  height: 16px;
  &:after {
    .control-symbol & {
      right: 7px;
    }
  }
}
.icon-keyboard-arrow-down {
  &:after {
    padding-left: 5px;
  }
}
.control-symbol:first-child {
  border-bottom: solid 1px $input-background-color;
}
.multi-select {
  color: $main-font-color;
  width: 100%;
  font-size: 14px;
  padding: 3px;
  border: none;
  background-color: $input-border-color;
  flex-wrap: wrap;
}
.selected-item {
  position: relative;
  min-width: 90px;
  padding: 9px 30px 9px 15px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to top, #1991eb, #2ea1f8);
  background-image: linear-gradient(to top, #1991eb, #2ea1f8),
    linear-gradient(to top, #1991eb, #2ea1f8);
  &:hover {
    background-image: linear-gradient(to top, #2ea1f8, #1991eb),
      linear-gradient(to top, #2ea1f8, #1991eb);
    transition: $transition;
  }
}
.icon-cross {
  &:after {
    .selected-item & {
      right: 5px;
    }
  }
}

// inputs with label
.label-top {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  color: $sub-titles-color;
  padding: 0;
}
.validation-message {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 12px;
  color: $sub-titles-color;
}
.validation-info {
  .validation-message & {
    padding-right: 20px;
  }
  &:before {
    .validation-message & {
      left: 0;
    }
  }
}
.positive {
  color: $success-color;
}
.invalid {
  color: $error-color;
}
.is-required {
  bottom: 0;
}
.icon-checkmark {
  &:before {
    .validation-message & {
      color: $success-color;
    }
  }
}
.icon-x-altx-alt {
  &:before {
    .validation-message & {
      color: $error-color;
    }
  }
}
