.logo {
  display: block;
  width: 140px;
}

.logo-text {
  font-family: "SourceSansPro", "Work Sans", BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: $main-font-color;
}
