.scrollbar {
  max-height: 200px;
  overflow-y: auto;
}
.horizontal-scrollbar {
  @media (min-width: $breakpoint-xxs) {
    overflow-x: auto;
    max-width: 290px;
  }
  @media (min-width: $breakpoint-xs) {
    max-width: 335px;
  }
  @media (min-width: 500px) {
    max-width: 470px;
  }
  @media (min-width: $breakpoint-sm) {
    max-width: 730px;
  }
  @media (min-width: $breakpoint-md) {
    max-width: 990px;
  }
  @media (min-width: $breakpoint-lg) {
    overflow-x: visible;
    max-width: 1250px;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: 1410px;
  }
  @media (min-width: $breakpoint-xl +1px) {
    max-width: 1810px;
  }
}
#style::-webkit-scrollbar {
  width: 5px;
}
#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $scroll-slider-color;
}

#style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
